@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Biryani:wght@200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden; 
}


body {
    overflow: hidden; /* यहाँ भी जोड़ें */
  }


#home,
#howitworks,
#about,
#testimonials,
#contact {
  scroll-margin-top: 24px;
}

@media (max-width: 570px){
#howitworks,
#about,
#testimonials,
#contact {
  scroll-margin-top: 48px; /* अपने हेडर की ऊंचाई के आधार पर मान एडजस्ट करें */
}
}



.archivo {
  font-family: "Archivo", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}
.biryani {
  font-family: "Biryani", sans-serif;
}
